*{
    margin: 0;
}

header{
	font-size: 2em;
	padding: 10px;
	background-color: rgb(107, 165, 107);
}

label{
    text-align: center;
    font-size: 1.25em;
    padding: 20px;
    color: rgb(220, 38, 38);
}

footer{
    position: absolute;
    bottom: 0;
	text-align: center;
	padding: 20px;
	background-color: rgb(107, 165, 107);
	color: rgb(46, 46, 46);
}

.chatbox{
    text-align: center;
}